.current_page {
  border-width: 1px 1px 0 1px;
  border-color: #89c4f4;
  border-style: solid;
  position: relative;
}
.current_page::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 1px;
}
#current_page_link {
  color: #0397d3;
}

.bottom_navbar {
  background: #fff;
  border-bottom: 1px solid #cecfd1;
  font-size: 15px;
  text-align: center;
  position: relative;
}
.bottom_navbar > ul {
  list-style-type: none;
  max-width: 1150px;
  margin: 0 auto;
}
.bottom_navbar > ul> li {
  display: inline-block;
  margin-right: 15px;
  padding: 12px 15px;
}
.bottom_navbar ul li a {
  color: #606060;
  transition: all 0.3s linear;
}
.bottom_navbar > ul > li a:hover {
 color: #0397d3;
}

.dropdown_icon::after {
  content: "^";
  transform: rotate(180deg);
  font-size: 12px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
  margin-bottom: 10px;
}

.dropdown_icon:hover::after {
  transform: rotate(0deg);
  margin-bottom: 0;
}

.dropdown {
 position: absolute;
 top: 100%;
 left: 50%;
 transform: translate(-50%, 0);
 width: 1120px;
 background: #fff;
 display: flex;
 border-radius: 3px;
 box-shadow: 5px 5px 5px #ddd, -5px 5px 5px #ddd;
 overflow: hidden;
 max-height: 0;
 transition: all 0.3s ease-in-out;
 display: flex;
}
.author:hover .dropdown, .dropdown:hover,
.subject:hover .dropdown,
.publishers:hover .dropdown
 {
 max-height: 500px;
}

.dropdown ul li {
 text-align: left;
 list-style-type: disc;
 margin: 10px;
 margin-left: 30px;
}

.dropdown div {
 width: 25%;
}
.dropdown_subject div,
.dropdown_publishers div  {
  width: 20%;
}

.dropdown_section {
 text-align: left;
}
.dropdown_section > a {
 display: inline-block;
 padding-bottom: 20px;
 color: #0397d3 !important;
}
.dropdown_section:last-child li {
 margin: 9px 10px;
}
.banner_area {
  overflow: hidden;
}
.banner_wrapper {
  display: flex;
  width: 400%;
  position: relative;
  top: 0;
  left: 0%;
  animation: slider 20s ease-in-out infinite;
}
.banner {
  width: 100%;
}
.banner_area .banner img{
  width: 100%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%
  }
  95% {
    left: 0;
  }
}