.current_page {
  border-width: 1px 1px 0 1px;
  border-color: #89c4f4;
  border-style: solid;
  position: relative;
  margin-right: 10px;
}
.current_page::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 1px;
}
#current_page_link {
  color: #0397d3;
}

.bottom_navbar {
  background: #fff;
  border-bottom: 1px solid #cecfd1;
  font-size: 15px;
  text-align: center;
  position: relative;
}
.bottom_navbar > ul {
  list-style-type: none;
  max-width: 1150px;
  margin: 0 auto;
}
.bottom_navbar > ul > li {
  display: inline-block;
  margin-right: 15px;
  padding: 12px 15px;
}
.bottom_navbar ul li a {
  color: #606060;
  transition: all 0.3s linear;
}
.bottom_navbar > ul > li a:hover {
  color: #0397d3;
}

.dropdown_icon::after {
  content: "^";
  transform: rotate(180deg);
  font-size: 12px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
  margin-bottom: 10px;
}

.dropdown_icon:hover::after {
  transform: rotate(0deg);
  margin-bottom: 0;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1120px;
  background: #fff;
  display: flex;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #ddd, -5px 5px 5px #ddd;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  z-index: 999;
}
.author:hover .dropdown,
.dropdown:hover,
.subject:hover .dropdown,
.publishers:hover .dropdown {
  max-height: 500px;
}

.dropdown ul li {
  text-align: left;
  list-style-type: disc;
  margin: 10px;
  margin-left: 30px;
}

.dropdown div {
  width: 25%;
}
.dropdown_subject div,
.dropdown_publishers div {
  width: 20%;
}

.dropdown_section {
  text-align: left;
}
.dropdown_section > a {
  display: inline-block;
  padding-bottom: 20px;
  color: #0397d3 !important;
}
.dropdown_section:last-child li {
  margin: 9px 10px;
}
.banner_area {
  overflow: hidden;
}
.banner_wrapper {
  display: flex;
  width: 400%;
  position: relative;
  top: 0;
  left: 0%;
  animation: slider 20s ease-in-out infinite;
}
.banner {
  width: 100%;
}
.banner_area .banner img {
  width: 100%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0;
  }
}
.book_catagories {
  display: flex;
}
.book_catagories a {
  width: 33.33%;
  display: inline-block;
}
.book_catagories img {
  width: 100%;
}
.book_catagories a:nth-child(2) {
  margin: 0 20px;
}

.recently_solid_product,
.book_catagories_2 {
  background: #fff;
  padding: 16px;
}

.catagory_title {
  font-size: 22px;
  color: #333;
  margin-bottom: 5px;
}
.catagory_title span {
  font-size: 14px;
  color: #aaa;
  padding-left: 10px;
}

.product_container,
.book_catagory_2_container {
  font-family: "Kalpurush", "Lato", sans-serif, sans-serif;
  display: flex;
  position: relative;
}
.product,
.book_catagories_2_items {
  width: 16.66%;
  padding: 15px;
  padding-top: 0;
  position: relative;
  left: 0;
  top: 0;
}
.product_image_wrapper {
  text-align: center;
  position: relative;
}
.product_image_wrapper img {
  width: 130px;
  -webkit-transform: scale(0.84);
  transform: scale(0.84);
}
.read_book_icon {
  position: absolute;
  right: 23px;
  bottom: 21px;
  height: 68px;
  width: 85px;
  background: url("../images/icons/look-inside.png") no-repeat;
}
.discount {
  position: absolute;
  top: 14px;
  left: 0;
  height: 42px;
  width: 46px;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  font-weight: 600;
}
.discount_1 {
  background: url("../images/icons/discount-badge-one.png") no-repeat;
}
.discount_2 {
  background: url("../images/icons/discount-badge-two.png") no-repeat;
  color: #fff;
}
.discount_3 {
  background: url("../images/icons/discount-badge-three.png") no-repeat;
}
.book_title {
  text-align: center;
  margin-bottom: 7px;
}
.price_wrapper {
  text-align: center;
  font-size: 14px;
}
.base_price {
  font-size: 16px;
  color: #666;
  margin-right: 5px;
}

.product_hover {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 0px 10px 0px #cdcdcd;
  opacity: 0;
  transition: all 0.3s linear;
}

.product_add_to_cart_btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 6px -4px #a2a2a2;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #ff9900;
  padding: 10px;
  width: 106px;
  opacity: 0;
  transition: all 0.3s linear;
}

.view_details_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #0397d3;
  width: 100%;
  color: #fff;
  padding: 6px 12px;
  text-align: center;
  font-weight: 700;
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}
.product:hover .product_hover,
.product:hover .product_add_to_cart_btn,
.product:hover .view_details_btn {
  opacity: 1;
}
.view_details_btn:hover {
  background: #37aaf7;
}

.arrow_btn {
  position: absolute;
  top: 50%;
  border-radius: 0 5px 5px 0;
  transform: translate(0, -50%);
  padding: 20px 5px;
  background: #fff;
  z-index: 888;
}
.arrow_btn img {
  margin-top: 5px;
}
.arrow_btn_left {
  left: -16px;
  cursor: not-allowed;
}
.arrow_btn_left img {
  opacity: 0.3;
}
.arrow_btn_right {
  right: -16px;
  box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.2),
    -2px -2px 12px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.arrow_btn img {
  width: 35px;
}

.book_catagory_2_item {
  background: url("../images/background/custom-category.png") no-repeat;
  background-size: cover;
  color: #fff;
  width: 16.66%;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}
.book_catagory_2_item:nth-child(6) {
  margin-right: 0;
}
.book_catagory_2_item:first-child {
  margin-left: 0;
}