/* <!-- base color : #417bac --> */
* {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
}
body {
 overflow-x: hidden;
}
a {
 text-decoration: none;
}
header {
 height: 80vh;
 background-image: url("../images/background/background.jpg");
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

nav {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background: #417bac;
 padding: 20px 0;
 z-index: 999;
}
nav img {
 height: 60px;
 padding-left: 30px;
}
nav>ul {
 padding-top: 10px;
 margin-right: 30px;
 float: right;
}
.nav_covid {
 background: #e74747;
 border-radius: 3px;
}
nav>ul a:hover {
 background: #fff;
 color: #417bac;
 border-radius: 3px;
}
nav > ul li {
 display: inline-block;
 position: relative;
 color: #fff;
}
nav >ul > li > a {
 color: #fff;
}
nav ul a {
 display: block;
 padding: 10px;
}
nav > ul>li>a {
 margin-left: 30px;
}
nav ul li:hover ul {
 display: block;
}
nav ul ul {
 display: none;
 position: absolute;
 background: #417bac;
 right: 5px;
 width: 200px;
}
nav ul ul li {
 border-bottom: 1px solid #fff;
 width: 100%;
} 
nav ul ul li:last-child {
 border-bottom: 0;
}
nav ul ul a {
 color: #fff;
}


h1 {
 margin-top: 104px;
 padding-top: 100px;
 margin-left: 50px;
 color: #fff;
}
header p {
 color: #fff;
 padding: 10px 50px;
 width: 50%;
 text-align: justify;
 float: left;
}
header p a {
 display: inline-block;
 margin: 20px 10px 0 0;
 padding: 15px 20px;
 color: #fff;
 border-radius: 5px;
}
.appoint {
 background: #417bac;
}
.consultancy {
 background: #e74747;
}
.hero_image {
 width: 35%;
 float: right;
 margin-right: 50px;
 border-radius: 10px;
}


h2{
 text-align: center;
 width: 100%;
 padding: 20px;
}

h2::after {
 display: block;
 content: ' ';
 background: #417bac;
 height: 5px;
 margin: 10px auto;
 width: 70px;
 border-radius: 3px;
}
h2:hover::after {
 width: 100px;
}

.doctor_card {
 width: 22%;
 display: inline-block;
 margin: 50px 3% 0 3%;
 border-radius: 15px;
 border-top: 1px solid #417bac;
 border-bottom: 1px solid #417bac;
 padding: 2.5%;
 padding-top: 80px;
 position: relative;
}
.doctor_card img {
 width: 130px;
 position: absolute;
 top: -25%;
 left: 35%;
 border-radius: 50%;
 border: 3px solid #417bac;
}
.doctor_card a {
 display: inline-block;
 padding: 10px;
 border-radius: 3px;
 background: #417bac;
 margin-top: 10px;
 color: #fff;
}
.doctor_card b {
 display: block;
 margin: 5px 0;
}
.doctor_card span {
 display: block;
 color: #404040;
 margin-bottom: 10px;
}
.show_all {
 display: block;
 text-align: center;
 margin-top: 20px;

}
.departments {
 margin: 40px 0;
 padding-bottom: 30px;
 background-color: #ddd;
}

.department_card {
 display: inline-block;
 width: 28%;
 margin: 0 2.5% 0 2.5%;
}
.background_image_area_1 {
 background-image: url("../images/pain-management-new.jpg");
}
.background_image_area_2 {
 background-image: url("../images/child-development-center.jpg");
}
.background_image_area_3 {
 background-image: url("../images/Psychiatry-1.jpg");
}
.background_image_area {
 width: 100%;
 height: 300px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 border-radius: 15px 15px 0 0;
}
.department_card h3 {
 margin: 10px 0;
}
.dept_learn_more {
 display: inline-block;
 padding: 10px;
 background-color: #417bac;
 color: #fff;
 margin-top: 10px;
 border-radius: 3px;
}
.map img {
 width: 100%;
}
.map h2 {
 padding-top: 5px;
}
footer {
 background: #417bac;
 padding: 30px 0 0 0;
}
.footer_left,
.footer_center,
.footer_right {
 display: inline-block;
 width: 28%;
 margin: 0 2.5%;
 color: #fff;
}
footer h4 {
 margin: 10px 0;
}
footer a {
 color: #c5deff;
 display: block;
 margin: 5px 0;
}
.footer_bottom {
 background: #265881;
 text-align: center;
 padding: 20px;
 color: #fff;
 margin-top: 30px;
}
