/* base color: #5946ca */

/* reusable components */
/* /reusable components */
body {
 overflow-x: hidden;
}

.base-bg {
 background: #5946ca;
 color: #fff;
}
.base-text {
 color: #5946ca;
}
.text-justify {
 text-align: justify;
}
.shape-usd {
 transform: rotate(180deg);
}


.main_logo {
 height: 60px;
}
.hero_area {
 height: 80vh;
}
.hero_area div,
.hero_area img {
 height: 100%;
}
.hero_area img {
 max-width: 100%;
}
.area-shape {
 height: 50px;
 width: 100%;
}

.freelancing_image {
 max-width: 400px;
}