/* base color: #5946ca */
body {
 overflow-x: hidden;
}

/* reusable components */
.base-bg {
 background: #5946ca;
 color: #fff;
}
.base-text {
 color: #5946ca;
}
.text-justify {
 text-align: justify;
}
.shape-usd {
 transform: rotate(180deg);
}
/* /reusable components */


.main_logo {
 height: 60px;
}
.hero_area {
 height: 80vh;
}
.hero_area div,
.hero_area img {
 height: 100%;
}
.hero_area img {
 max-width: 100%;
}
.area-shape {
 height: 50px;
 width: 100%;
}

.freelancing_image {
 max-width: 400px;
}
.service_card .card {
 transition: all 0.1s ease-in-out;
}
.service_card .card:hover {
 transform: scale(1.01);
}
.popular .card img {
 max-height: 220px;
}