html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div {
  margin: 0;
  padding: 0;
}
pre {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
img {
  margin: 0;
}
p {
  color: darkslategray;
  margin: 0;
  padding: 0;
}
.global_padding {
  margin: 0 auto;
  width: 95%;
}

.top_nav {
  background: darkslategrey;
  padding: 10px;
  height: 20px;
  border-bottom: 5px solid green;
}
.top_nav_element {
  color: white;
}
.top_nav_pre {
  width: 70%;
  float: left;
}

.top_nav_image_container {
  float: right;
}
.top_nav_images {
  height: 16px;
}

.header_area {
  padding: 20px 0;
  text-align: center;
}
.header_logo {
  height: 100px;
}

.main_nav {
  background: darkslategrey;
  border-bottom: 6px solid green;
  height: 40px;
}
.main_nav_btn_icon {
  height: 20px;
}
.main_nav_btn {
  height: 65%;
  padding: 10px;
  background-color: green;
}
.main_nav_home {
  float: left;
}
.main_nav_items {
  float: left;
  color: white;
  padding: 10px 15px;
  border-right: 1px solid darkgreen;
}
.main_nav_search {
  float: right;
}

.blog_main_table {
  border: 0;
}
.main_blog_area {
  width: 65%;
}
.suggested_blog_area {
  width: 35%;
}
.main_blog_area_container {
  height: 100%;
  width: 100%;
}
.blog_banner {
  margin-top: 20px;
  width: 100%;
}
.blog_banner_image {
  width: 100%;
}
.blog_banner_heading {
  background: green;
  margin: 0;
  padding: 10px;
  color: white;
}
.blog_date {
  color: gray;
  padding: 5px 0;
}

.area_title_container {
  background-color: darkslategray;
  border-bottom: 5px solid green;
  margin: 15px 0;
  height: 30px;
}
.area_title {
  float: left;
  color: white;
  padding: 8px;
  background: green;
}

.regular_blog_area {
  width: 100%;
}
.blog_img {
  width: 40%;
  float: left;
}
.blog_container {
  width: 50%;
  float: left;
  padding: 10px;
}
.blog_header {
  color: darkslategray;
  margin: 0;
}
.blog_content {
  color: darkslategray;
  text-align: justify;
}
.float_clear_without_clear_property {
  width: 100%;
  float: right;
  height: 20px;
}
.categories {
  width: 100%;
  float: left;
}
details {
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid lightgray;
}
.tags {
  float: left;
  width: 100%;
}
.tag {
  background: lightgray;
  padding: 5px;
  float: left;
  margin: 3px;
  border-radius: 3px;
}
.tag_number {
  background-color: green;
  color: white;
  padding: 3px;
  margin-left: 5px;
  border-radius: 3px;
}
.total_visitors {
  width: 100%;
  float: left;
}
.visitors_counter {
  color: darkolivegreen;
}

footer {
  width: 100%;
  background-color: DarkSlateGray;
  color: white;
  padding: 10px 0;
  border-top: 5px solid green;
}

.footer_area_div {
  width: 33.33%;
  float: left;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.bottom_footer_area {
  text-align: center;
}
.footer_text {
  padding-right: 10px;
  color: white;
}
.location_table {
  width: 100%;
}
.footer_devider {
  background: green;
  width: 100%;
  float: right;
  height: 2px;
}
